/*
	carouselParallax - 2.0
	https://github.com/mr21/carousel-parallax
*/

.cp-carouselParallax {
	position: relative;
	font-size: 48px;
	color: #fff;
	}
	.cp-carouselParallax,
	.cp-slide {
		overflow: hidden;
		}
	.cp-slide,
	.cp-layer {
		position: absolute;
		width: 100%;
		height: 100%;
		}
	.cp-slide ~ .cp-slide {
		left: 100%;
		}
